@import "../abstracts/colors";
@import "members";
@import "sign_up";

#profile_page{
  color: $white;
  background-color: $black;
  margin-left: 10vw;
  margin-right: 10vw;
}

#exit{
  @extend #exit;
}

#profile_form{
  display: flex;
  flex-direction: column;
}

label, input{
  display: inline-block !important;
}

#profile_header{
  text-align: center;
}

#profile_pic{
  @extend .profile_pic;
  clear: both;
  margin: auto;
}

.profile_labels, #profile_about{
  background-color: $black;
}

#about {
  background-color: $white;
  color: $black;
}


#profileNameDiv{
  display: inline-block;
}

#firstNameDiv{
  display: inline-block;
}

#lastNameDiv{
  display: inline-block;
}

#emailDiv{
  display: inline-block;
}

#aboutDiv{
  display: inline-block;
}

#phoneDiv{
  display: inline-block;
}

#profileNameDiv, #firstNameDiv, #lastNameDiv, #emailDiv, #aboutDiv, #phoneDiv{
  margin: auto;
  padding: .3em;
  width: 70vw;
}


.profile_labels, .labels{
  display: inline-block;
  font-size: 1.3em;
  margin-top: .3em;
}

.profile_labels {
  color: $white;
}

.labels {
  color: $aqua;
}

.form-group, input {
  display: flex;
}

#edit_form{
  margin: auto;
  font-size: 1.2em;
  padding: .4em;
  max-width: 10vw;
  background-color: $aqua;
  color: $black;
}