<!DOCTYPE html>
<html lang="en">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="profile_info">

        <h1 id="profile_header" th:value="${updateProfile} ? `Update Profile` : `Profile Info`"></h1>

        <div th:if="${!updateProfile}" id="profile_form" th:object="${profileEntity}">
            <img id="profile_pic" th:src="(${profilePic} != null) ? *{profilePic} : '/images/empty_profile_pic.png'" class="profile_pic" alt="Profile Pic">
            <label class="profile_labels" for="profileName">Profile Name:</label>
            <p id="profileName" class="labels" th:text="${profileEntity.profileName}"></p>
            <label class="profile_labels" for="first_name">First Name:</label>
            <p id="first_name" class="labels" th:text="${(profileEntity.first_name != null) ? profileEntity.first_name : 'No first name added.'}"></p>
            <label class="profile_labels" for="last_name">Last Name:</label>
            <p id="last_name" class="labels" th:text="${(profileEntity.last_name != null) ? profileEntity.last_name : 'No last name added.'}"></p>
            <label class="profile_labels" for="email">Email:</label>
            <p id="email" class="labels" th:text="${(profileEntity.email != null) ? profileEntity.email : 'No email added'}" type="email"></p>
            <label class="profile_labels" for="profile_about">About:</label>
            <p id="profile_about" class="labels" th:text="${(profileEntity.about != null) ? profileEntity.about : 'No about info added.'}"></p>
            <label class="profile_labels" for="phone">Phone Number</label>
            <p id="phone" class="labels" th:text="${(profileEntity.phone != null) ? profileEntity.phone : 'No Phone Number added.'}"></p>
            <a href="/loggedInUser/edit_profile"><button id="edit_form">Edit Profile</button></a>
        </div>

        <div th:if="${updateProfile}" id="profile_form" th:object="${profileEntity}">
            <form method="POST" action="/loggedInUser/updateProfile">
                // imgage upload to allow user to upload a profile picture to their profile
                <input type="file" id="profilePic" name="profilePic" accept="image/*">
                <label for="profileName">Profile Name *:</label>
                <input type="text" id="profileName" name="profileName" th:value="${profileEntity.profileName}">
                <label for="first_name">First Name *:</label>
                <input type="text" id="first_name" name="first_name" th:value="${profileEntity.first_name}">
                <label for="last_name">Last Name *:</label>
                <input type="text" id="last_name" name="last_name" th:value="${profileEntity.last_name}">
                <label for="email">Email *:</label>
                <input type="email" id="email" name="email" th:value="${profileEntity.email}">
                <label for="profile_about">About:</label>
                <input type="text" id="profile_about" name="profile_about" th:value="${profileEntity.about}">
                <label for="phone">Phone Number:</label>
                <input type="text" id="phone" name="phone" th:value="${profileEntity.phone}">
                <button type="submit">Update Profile</button>
            </form>
        </div>
    </div>
</body>
</html>