<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nitrouz Studioz Homepage</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="pages">
<header th:replace="fragments/navBar.html :: header"></header>
<div id="grid-container">
  <div class="gridItem1">
    <img src="/images/Halo_Infinite.jpg" class="image">
  </div>
  <div class="gridItem2">
    <img src="/images/Cyberank.jpg" class="image">
  </div>
  <div class="gridItem3">
    <img src="/images/Gaming.jpg" class="image">
  </div>
  <div class="gridItem4">
    <p>P</p>
  </div>
  <div class="gridItem5">
    <img src="/images/Re_reckoning.gif" class="image">
  </div>
  <div class="gridItem6">
    <iframe id="iframe" width="883" height="415" src="https://www.youtube.com/embed/HV2LVEPrKGs"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="gridItem7">
    <footer th:replace="fragments/footer.html :: footer"></footer>
  </div>
</div>


<script src="/js/homepage.js"></script>
</body>
</html>