<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/scss/main.css">
</head>
<body id="profile_page">
    <a id="exit" th:href="'/LoggedInUser/members'">X</a>
    <div id="profile_info">
        <h1 id="profile_header">Profile Info</h1>
        <form th:object="${profileEntity}">
            <div id="profile_form">
                <img id="profile_pic" th:src="(*{profilePic} != null) ? *{profilePic} : '/images/empty_profile_pic.png'" class="profile_pic" alt="Profile Pic">
                <label for="profileName">Profile Name:</label>
                <p id="profileName" class="labels" th:text="${profileEntity.profileName}"></p>
                <label for="name">Name:</label>
                <p id="name" class="labels" th:text="${(profileEntity.name != null) ? profileEntity.name : 'No name added.'}"></p>
                <label for="email">Email:</label>
                <p id="email" class="labels" th:text="${(profileEntity.email != null) ? profileEntity.email : 'No email added'}" type="email"></p>
                <label for="about">About:</label>
                <p id="about" class="labels" th:text="${(profileEntity.about != null) ? profileEntity.about : 'No about info added.'}"></p>
                <label for="phone">Phone Number</label>
                <p id="phone" class="labels" th:text="${(profileEntity.phone != null) ? profileEntity.phone : 'No Phone Number added.'}"></p>
            </div>
        </form>
        <button id="edit">Edit</button>
    </div>
<script src="/js/profile.js"></script>
</body>
</html>